@import url(https://fonts.googleapis.com/css?family=Comfortaa);
{ margin: 0; padding: 0; box-sizing: border-box; }
#intro {
	background: url(../unit_3/images/seaplane.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5em;
	height: 90vh;
h1 {
	font-family: Comfortaa;
	font-size: 28px;
	font-transform: uppercase;
	font-weight: bold;
}
body {
	text-align: left;
	margin: 1.5em;
	line-height: 1.5em
}


h3 {font-family: Comfortaa; 
	font-size: 24px 
}
p {font-family: Roboto;
font-size: 14px;
}
a {
	font-style: italic;
}
ul {text-align: left;}
#first {
	font-weight: bold;
}
#second { font-weight: bold, italic
 }
 .important {
 	font-size: 18px;
 }
