{body 
background-color: white;
font-family: Helvetica;
text-align: right;
{h1
	color: blue;
	font-size: 26px;
}
{h3
	color: yellow;
	font-family: Helvetica
	font-size: 22px;
}
{p
	font-family: Helvetica;
	font-size: 18px;
}
{ul
	font-family: Helvetica;
	font-style: bold;
	}
	{list
		font-family: Arial
		font-size: 14;
	}
	#slogan